--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1
--enable-match-finders=bt3
--enable-checks=crc32,sha256
--enable-small
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-static
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-doc
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
