--enable-encoders=lzma1,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc3
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-fast-install=no
--disable-doc
--disable-dependency-tracking
--disable-nls
