--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1
--enable-match-finders=hc4
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-shared=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-xzdec
--disable-silent-rules
--disable-nls
--disable-largefile
