--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,arm
--enable-match-finders=bt3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-dependency-tracking
--enable-unaligned-access
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
--disable-largefile
