--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
