--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1
--enable-match-finders=hc3,bt2
--enable-checks=crc32,crc64,sha256
--enable-threads=posix
--enable-shared=no
--enable-sandbox=auto
--enable-silent-rules
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
--disable-largefile
