--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-doc
--disable-silent-rules
--disable-libtool-lock
