--enable-encoders=lzma1,ia64
--enable-decoders=lzma1
--enable-match-finders=hc3,bt4
--enable-checks=crc32
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-dependency-tracking
--disable-rpath
--disable-largefile
