--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-sandbox=auto
--enable-fast-install
--enable-static
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-nls
--disable-rpath
