--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,x86
--enable-match-finders=bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-dependency-tracking
--disable-rpath
--disable-largefile
