--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,sparc
--enable-match-finders=hc3,bt2,bt4
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-assume-ram=128
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-largefile
