--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,hc4
--enable-checks=crc32
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-fast-install
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-largefile
