--enable-encoders=lzma1
--enable-decoders=lzma1
--enable-match-finders=bt3,bt4
--enable-checks=crc32
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-lzmainfo
--disable-doc
--disable-dependency-tracking
--disable-rpath
--disable-largefile
