--enable-debug
--enable-encoders=lzma1,x86
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-fast-install
--enable-unaligned-access
--enable-static
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
--disable-largefile
