--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-shared=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unaligned-access
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
