--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,sparc
--enable-match-finders=hc3,bt2,bt4
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-scripts
--disable-libtool-lock
--disable-nls
--disable-largefile
