--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt2
--enable-checks=crc32,crc64
--enable-small
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
--disable-largefile
