--enable-encoders=lzma1
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
