--enable-encoders=lzma1,x86
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc3,bt3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-option-checking
--disable-lzma-links
--disable-scripts
--disable-libtool-lock
--disable-nls
--disable-rpath
