--enable-encoders=lzma1,arm
--enable-decoders=lzma1,delta
--enable-match-finders=bt2,bt3
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-unaligned-access
--enable-static
--disable-assembler
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
--disable-largefile
