--enable-encoders=lzma1
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4
--enable-small
--enable-threads=posix
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-largefile
