--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,bt2,bt4
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-unsafe-type-punning
--disable-option-checking
--disable-assembler
--disable-scripts
--disable-dependency-tracking
--disable-rpath
--disable-largefile
