--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--disable-lzma-links
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
