--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,delta
--enable-match-finders=bt2,bt3
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-unaligned-access
--enable-static
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
