--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,x86
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
--disable-largefile
