--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--disable-xzdec
--disable-lzmainfo
--disable-doc
--disable-nls
--disable-largefile
