--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3,hc4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unaligned-access
--disable-option-checking
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-largefile
