--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,arm
--enable-match-finders=bt3,bt4
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-largefile
