--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-sandbox=auto
--enable-dependency-tracking
--disable-option-checking
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-largefile
