--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,sparc
--enable-match-finders=bt4
--enable-checks=crc32
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=capsicum
--enable-fast-install
--enable-unaligned-access
--disable-xzdec
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-nls
--disable-rpath
--disable-largefile
