--enable-encoders=lzma1
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-silent-rules
--enable-unsafe-type-punning
--disable-assembler
--disable-silent-rules
--disable-dependency-tracking
--disable-rpath
