--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1
--enable-match-finders=bt3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-dependency-tracking
--enable-unaligned-access
--enable-fast-install=no
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-nls
