--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1
--enable-match-finders=hc4,bt2,bt3
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-option-checking
--disable-assembler
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
