--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-fast-install=no
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
