--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
