--enable-encoders=lzma1,arm
--enable-decoders=lzma1,delta
--enable-match-finders=hc3
--enable-checks=crc32
--enable-threads=no
--enable-sandbox=capsicum
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
