--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc3
--enable-checks=crc32,crc64,sha256
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=auto
--enable-unaligned-access
--enable-static
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-rpath
--disable-largefile
