--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-static
--enable-fast-install=no
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-doc
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
