--enable-debug
--enable-encoders=lzma1,x86
--enable-decoders=lzma1,ia64
--enable-match-finders=bt2
--enable-checks=crc32
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-static
--disable-option-checking
--disable-dependency-tracking
--disable-rpath
