--enable-encoders=lzma1,arm
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-threads=posix
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--disable-option-checking
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-rpath
