--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,sparc
--enable-match-finders=bt4
--enable-checks=crc32,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-fast-install
--enable-unaligned-access
--enable-static
--disable-lzmadec
--disable-scripts
--disable-nls
--disable-rpath
