--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
