--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-sandbox=no
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-lzmadec
--disable-lzmainfo
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
--disable-largefile
