--enable-encoders=lzma1,arm
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-sandbox=capsicum
--enable-fast-install
--enable-unaligned-access
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
