--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,arm
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-nls
--disable-largefile
