--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,sparc
--enable-match-finders=bt3
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
--disable-largefile
