--enable-encoders=lzma1,arm
--enable-decoders=lzma1,x86
--enable-match-finders=bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-largefile
