--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--enable-fast-install=no
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-rpath
--disable-largefile
