--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-fast-install
--enable-fast-install=no
--disable-xzdec
--disable-lzma-links
--disable-rpath
--disable-largefile
