--enable-encoders=lzma1,x86
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-fast-install=no
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-rpath
