--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--disable-option-checking
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-rpath
--disable-largefile
