--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,sparc
--enable-match-finders=bt3
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-symbol-versions
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
