--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-symbol-versions
--enable-dependency-tracking
--enable-unaligned-access
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
--disable-rpath
