--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt3
--enable-checks=crc32,sha256
--enable-threads=no
--enable-shared=no
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install
--enable-unsafe-type-punning
--disable-option-checking
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-largefile
