--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--disable-option-checking
--disable-xzdec
--disable-scripts
--disable-libtool-lock
--disable-rpath
--disable-largefile
