--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
