--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,bt2
--enable-checks=crc32,sha256
--enable-threads=no
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
--disable-largefile
