--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1,arm
--enable-match-finders=bt2,bt3
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-rpath
