--enable-debug
--enable-encoders=lzma1,x86
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc3,bt3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-nls
