--enable-encoders=lzma1,arm
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,bt2
--enable-checks=crc32,crc64
--enable-small
--enable-assume-ram=128
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-static
--enable-fast-install=no
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
