--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt4
--enable-checks=crc32
--enable-small
--enable-shared=no
--enable-symbol-versions
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-xzdec
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-nls
--disable-rpath
