--enable-encoders=lzma1,delta
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt3,bt4
--enable-small
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-static
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
