--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,sha256
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-nls
--disable-rpath
--disable-largefile
