--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,ia64
--enable-match-finders=bt2,bt3,bt4
--enable-threads=no
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--disable-option-checking
--disable-assembler
--disable-lzma-links
--disable-doc
--disable-largefile
