--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
