--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-doc
--disable-largefile
