--enable-encoders=lzma1,arm
--enable-decoders=lzma1
--enable-match-finders=hc4
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-fast-install
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
