--enable-encoders=lzma1,x86
--enable-decoders=lzma1,armthumb
--enable-match-finders=bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-unsafe-type-punning
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-libtool-lock
--disable-rpath
