--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,bt2
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unaligned-access
--enable-fast-install=no
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
