--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,ia64
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-shared=no
--enable-sandbox=no
--enable-silent-rules
--enable-static
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-doc
--disable-rpath
--disable-largefile
