--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,bt4
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-static
--disable-option-checking
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
--disable-rpath
