--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-sandbox=no
--enable-fast-install
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-doc
--disable-dependency-tracking
--disable-nls
--disable-rpath
--disable-largefile
