--enable-encoders=lzma1
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32
--enable-threads=no
--enable-sandbox=capsicum
--enable-unaligned-access
--enable-static
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-rpath
