--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-shared=no
--enable-sandbox=auto
--enable-static
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-rpath
