--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-static
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-nls
--disable-largefile
