--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt2,bt3
--enable-small
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-fast-install=no
--disable-lzmadec
--disable-lzmainfo
--disable-silent-rules
--disable-nls
--disable-largefile
