--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,delta
--enable-match-finders=bt2
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-largefile
