--enable-encoders=lzma1
--enable-decoders=lzma1
--enable-match-finders=hc3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-fast-install
--enable-fast-install=no
--disable-assembler
--disable-lzmainfo
--disable-libtool-lock
