--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,arm
--enable-match-finders=hc3,hc4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-shared=no
--enable-sandbox=no
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-lzmadec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
