--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32,sha256
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
