--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-largefile
