--enable-encoders=lzma1,x86
--enable-decoders=lzma1,ia64
--enable-match-finders=bt4
--enable-checks=crc32
--enable-threads=yes
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-unsafe-type-punning
--disable-option-checking
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
--disable-largefile
