--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1
--enable-match-finders=bt3
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-largefile
