--enable-encoders=lzma1,arm
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
