--enable-encoders=lzma1,sparc
--enable-decoders=lzma1
--enable-match-finders=bt2
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-lzmadec
--disable-doc
--disable-libtool-lock
