--enable-encoders=lzma1,arm
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,bt2
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-libtool-lock
--disable-rpath
--disable-largefile
