--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,lzma2
--enable-match-finders=bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--disable-option-checking
--disable-assembler
--disable-doc
--disable-largefile
