--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-nls
--disable-largefile
