--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-assume-ram=128
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-rpath
