--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,delta
--enable-match-finders=hc3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-sandbox=capsicum
--enable-fast-install
--enable-unsafe-type-punning
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-nls
--disable-largefile
