--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,x86
--enable-match-finders=hc3,bt2,bt3,bt4
--enable-checks=crc32
--enable-small
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-libtool-lock
--disable-largefile
