--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-option-checking
--disable-xzdec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
