--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--disable-lzmadec
--disable-lzmainfo
--disable-doc
--disable-silent-rules
