--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-assembler
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
