--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt3
--enable-checks=crc32,crc64
--enable-threads=no
--enable-shared=no
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--disable-option-checking
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-rpath
--disable-largefile
