--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-static
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-libtool-lock
--disable-nls
