--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-nls
--disable-rpath
