--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=no
--enable-fast-install
--enable-unsafe-type-punning
--disable-xzdec
--disable-lzma-links
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
