--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt4
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
