--enable-encoders=lzma1,delta
--enable-decoders=lzma1,delta
--enable-match-finders=bt2
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-libtool-lock
--disable-largefile
