--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=no
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
