--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-assume-ram=128
--enable-shared=no
--enable-silent-rules
--enable-unsafe-type-punning
--enable-static
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-dependency-tracking
--disable-nls
