--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,ia64
--enable-match-finders=bt2,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-doc
--disable-dependency-tracking
--disable-rpath
