--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-fast-install
--enable-static
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-largefile
