--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
