--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,delta
--enable-match-finders=bt4
--enable-checks=crc32,sha256
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=no
--enable-fast-install
--enable-static
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-rpath
