--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-assembler
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-nls
--disable-rpath
