--enable-encoders=lzma1,delta
--enable-decoders=lzma1,delta
--enable-match-finders=bt2,bt3
--enable-checks=crc32,sha256
--enable-threads=no
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--disable-option-checking
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-rpath
