--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-shared=no
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-static
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-largefile
