--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--disable-lzma-links
--disable-silent-rules
--disable-rpath
