--enable-encoders=lzma1
--enable-decoders=lzma1,x86
--enable-match-finders=hc3,bt4
--enable-assume-ram=128
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-xzdec
--disable-silent-rules
--disable-rpath
--disable-largefile
