--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-doc
