--enable-encoders=lzma1,arm
--enable-decoders=lzma1
--enable-match-finders=hc4,bt4
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unaligned-access
--enable-fast-install=no
--disable-lzmainfo
--disable-dependency-tracking
