--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
