--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32,crc64
--enable-assume-ram=128
--enable-sandbox=no
--enable-silent-rules
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-libtool-lock
