--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install=no
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-largefile
