--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1
--enable-match-finders=hc3
--enable-checks=crc32,crc64
--enable-threads=no
--enable-shared=no
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-libtool-lock
--disable-rpath
--disable-largefile
