--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,ia64
--enable-match-finders=hc3,hc4
--enable-checks=crc32
--enable-threads=posix
--enable-shared=no
--enable-sandbox=capsicum
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
--disable-rpath
