--enable-encoders=lzma1
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-fast-install
--enable-unaligned-access
--enable-static
--disable-assembler
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-largefile
