--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4
--enable-checks=crc32
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-rpath
--disable-largefile
