--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,bt2
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-sandbox=auto
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-rpath
