--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,arm
--enable-match-finders=bt2
--enable-checks=crc32,sha256
--enable-threads=no
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-static
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-libtool-lock
