--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=auto
--enable-fast-install
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-nls
