--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--disable-assembler
--disable-lzmadec
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
