--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-fast-install=no
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-largefile
