--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,x86
--enable-match-finders=hc3,bt4
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
