--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1
--enable-match-finders=hc4
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-libtool-lock
--disable-nls
--disable-largefile
