--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1
--enable-match-finders=hc3,bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-sandbox=auto
--enable-silent-rules
--enable-unsafe-type-punning
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-nls
