--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,arm
--enable-match-finders=bt3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-dependency-tracking
--disable-nls
--disable-largefile
