--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-unaligned-access
--enable-static
--disable-assembler
--disable-lzmainfo
--disable-libtool-lock
--disable-largefile
