--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4
--enable-checks=crc32,crc64
--enable-shared=no
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--disable-option-checking
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-nls
--disable-largefile
