--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
