--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=capsicum
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-libtool-lock
--disable-nls
--disable-largefile
