--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32,crc64
--enable-threads=no
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-silent-rules
--disable-assembler
--disable-lzmadec
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
