--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,lzma2
--enable-match-finders=bt3
--enable-checks=crc32,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-rpath
