--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt4
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-option-checking
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
--disable-largefile
