--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=auto
--enable-fast-install
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-libtool-lock
--disable-largefile
