--enable-encoders=lzma1,delta
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc3,hc4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-shared=no
--enable-sandbox=no
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-assembler
--disable-lzmadec
--disable-doc
