--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,bt3
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-option-checking
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
