--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3
--enable-checks=crc32,sha256
--enable-small
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-static
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
--disable-largefile
