--enable-debug
--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-static
--disable-option-checking
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-nls
--disable-rpath
