--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--disable-option-checking
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-largefile
