--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32
--enable-threads=yes
--enable-symbol-versions
--enable-unsafe-type-punning
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-lzma-links
--disable-doc
--disable-nls
--disable-rpath
--disable-largefile
