--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc3,bt2,bt4
--enable-checks=crc32,sha256
--enable-threads=no
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unaligned-access
--enable-fast-install=no
--disable-option-checking
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-libtool-lock
--disable-rpath
--disable-largefile
