--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-symbol-versions
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-rpath
--disable-largefile
