--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32,crc64
--enable-threads=no
--enable-shared=no
--enable-sandbox=no
--enable-dependency-tracking
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-largefile
