--enable-encoders=lzma1,delta
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3,bt4
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-silent-rules
--disable-largefile
