--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,x86
--enable-match-finders=bt2,bt3,bt4
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
