--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unaligned-access
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-rpath
