--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-largefile
