--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-symbol-versions
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--disable-xzdec
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
