--enable-encoders=lzma1,arm
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,bt3,bt4
--enable-checks=crc32
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
