--enable-encoders=lzma1,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,hc4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-shared=no
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--disable-assembler
--disable-xzdec
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
--disable-largefile
