--enable-encoders=lzma1,delta
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc3
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
