--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-libtool-lock
--disable-nls
