--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-sandbox=no
--enable-dependency-tracking
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
--disable-largefile
