--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,bt4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-static
--disable-option-checking
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
