--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32
--enable-small
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-rpath
