--enable-debug
--enable-encoders=lzma1,x86
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4
--enable-checks=crc32
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--disable-xzdec
--disable-lzma-links
--disable-dependency-tracking
--disable-nls
--disable-rpath
