--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,x86
--enable-match-finders=bt2,bt3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-largefile
