--enable-encoders=lzma1,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,bt3
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
