--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unaligned-access
--disable-assembler
--disable-lzma-links
--disable-dependency-tracking
--disable-libtool-lock
