--enable-encoders=lzma1,x86
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,bt3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--disable-assembler
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-largefile
