--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-static
--enable-fast-install=no
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-nls
