--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--disable-xzdec
--disable-lzmainfo
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
