--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,ia64
--enable-match-finders=hc3
--enable-checks=crc32
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-largefile
