--enable-encoders=lzma1
--enable-decoders=lzma1,x86
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-silent-rules
