--enable-encoders=lzma1,ia64
--enable-decoders=lzma1
--enable-match-finders=hc4,bt3
--enable-checks=crc32,crc64
--enable-shared=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-lzmadec
--disable-lzmainfo
--disable-doc
--disable-largefile
