--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,arm
--enable-match-finders=hc3,bt3
--enable-checks=crc32,crc64,sha256
--enable-threads=posix
--enable-shared=no
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-nls
--disable-largefile
