--enable-encoders=lzma1,delta
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-static
--disable-option-checking
--disable-xzdec
--disable-lzma-links
--disable-silent-rules
--disable-nls
--disable-largefile
