--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-fast-install
--enable-unsafe-type-punning
--disable-assembler
--disable-lzmadec
--disable-scripts
--disable-silent-rules
--disable-nls
