--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-nls
