--enable-encoders=lzma1,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32,crc64
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-unaligned-access
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-nls
--disable-rpath
--disable-largefile
