--enable-encoders=lzma1,x86
--enable-decoders=lzma1,arm
--enable-match-finders=hc4
--enable-checks=crc32
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-unaligned-access
--disable-lzmadec
--disable-lzmainfo
--disable-doc
--disable-dependency-tracking
--disable-nls
--disable-largefile
