--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,delta
--enable-match-finders=bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-sandbox=no
--enable-dependency-tracking
--enable-unaligned-access
--enable-fast-install=no
--disable-assembler
--disable-lzmadec
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
