--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unsafe-type-punning
--enable-static
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
