--enable-encoders=lzma1
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,bt2
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-symbol-versions
--enable-silent-rules
--enable-dependency-tracking
--enable-static
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
