--enable-encoders=lzma1,x86
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-sandbox=auto
--enable-fast-install
--enable-static
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
