--enable-encoders=lzma1,delta
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-static
--enable-fast-install=no
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
