--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,delta
--enable-match-finders=bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-nls
--disable-rpath
