--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32,crc64
--enable-small
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-unsafe-type-punning
--disable-option-checking
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-nls
--disable-largefile
