--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1,sparc
--enable-match-finders=bt2,bt3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-largefile
