--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3,bt2,bt4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-option-checking
--disable-xzdec
--disable-scripts
--disable-silent-rules
--disable-rpath
