--enable-encoders=lzma1,delta
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc3,bt4
--enable-checks=crc32,crc64,sha256
--enable-sandbox=auto
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
