--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1
--enable-match-finders=hc4,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-shared=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-rpath
--disable-largefile
