--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-unaligned-access
--disable-lzma-links
--disable-silent-rules
--disable-largefile
