--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
