--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,sparc
--enable-match-finders=hc3,bt3
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-libtool-lock
--disable-largefile
