--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,arm
--enable-match-finders=bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-shared=no
--enable-sandbox=auto
--enable-unsafe-type-punning
--enable-static
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-largefile
