--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-sandbox=no
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
--disable-largefile
