--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,arm
--enable-match-finders=bt3,bt4
--enable-checks=crc32
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-static
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
