--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3,bt2,bt3,bt4
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unaligned-access
--disable-xzdec
--disable-lzma-links
--disable-scripts
--disable-libtool-lock
--disable-nls
--disable-rpath
