--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-static
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
