--enable-debug
--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,bt2
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
