--enable-encoders=lzma1,x86
--enable-decoders=lzma1,ia64
--enable-match-finders=bt2
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
