--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,sparc
--enable-match-finders=bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-silent-rules
--enable-unaligned-access
--enable-static
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-rpath
--disable-largefile
