--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc3,bt3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--disable-xzdec
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-largefile
