--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,bt4
--enable-checks=crc32
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-dependency-tracking
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-rpath
--disable-largefile
