--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,sparc
--enable-match-finders=bt2,bt4
--enable-checks=crc32
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unsafe-type-punning
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-dependency-tracking
--disable-nls
