--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt2,bt4
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-sandbox=auto
--enable-fast-install
--enable-unsafe-type-punning
--disable-option-checking
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
