--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc3,hc4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-static
--disable-dependency-tracking
--disable-rpath
--disable-largefile
