--enable-debug
--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,ia64
--enable-match-finders=bt2
--enable-checks=crc32
--enable-threads=no
--enable-sandbox=no
--enable-static
--enable-fast-install=no
--disable-lzmadec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
--disable-largefile
