--enable-debug
--enable-encoders=lzma1,x86
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-scripts
--disable-silent-rules
--disable-nls
