--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-assume-ram=128
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-option-checking
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
