--enable-encoders=lzma1
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,hc4
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-sandbox=capsicum
--enable-unsafe-type-punning
--disable-assembler
--disable-lzmadec
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
