--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,sparc
--enable-match-finders=bt3,bt4
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-rpath
