--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,bt3
--enable-checks=crc32
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=capsicum
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-libtool-lock
--disable-nls
--disable-largefile
