--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=capsicum
--disable-option-checking
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
--disable-largefile
