--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1,x86
--enable-match-finders=hc4
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-assume-ram=128
--enable-silent-rules
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-nls
--disable-rpath
