--enable-encoders=lzma1,arm
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=no
--enable-static
--enable-fast-install=no
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
--disable-largefile
