--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt4
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-sandbox=auto
--enable-silent-rules
--enable-static
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-nls
