--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc3,bt2,bt3,bt4
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-dependency-tracking
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-libtool-lock
--disable-largefile
