--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,x86
--enable-match-finders=bt3
--enable-checks=crc32
--enable-threads=no
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
