--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--disable-option-checking
--disable-assembler
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
