--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,bt2
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-lzma-links
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
