--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-rpath
