--enable-encoders=lzma1,delta
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt2
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=auto
--enable-fast-install
--disable-scripts
--disable-silent-rules
--disable-nls
--disable-rpath
