--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3,bt2,bt3
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-unaligned-access
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
