--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-libtool-lock
