--enable-encoders=lzma1,x86
--enable-decoders=lzma1,sparc
--enable-match-finders=hc3,bt2,bt3
--enable-checks=crc32,sha256
--enable-threads=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-libtool-lock
--disable-nls
--disable-rpath
