--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1
--enable-match-finders=hc3,bt3
--enable-checks=crc32,crc64
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--disable-option-checking
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-largefile
