--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1,sparc
--enable-match-finders=bt3
--enable-checks=crc32
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
