--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-unaligned-access
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
