--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-unsafe-type-punning
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
