--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-shared=no
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unaligned-access
--enable-fast-install=no
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
