--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt4
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-unaligned-access
--disable-xzdec
--disable-lzmadec
--disable-scripts
--disable-dependency-tracking
--disable-nls
--disable-rpath
--disable-largefile
