--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1
--enable-match-finders=hc4,bt3
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unaligned-access
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-rpath
--disable-largefile
