--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-shared=no
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--disable-option-checking
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
--disable-rpath
