--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-shared=no
--enable-sandbox=no
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-rpath
--disable-largefile
