--enable-debug
--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
--disable-largefile
