--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,bt4
--enable-checks=crc32,crc64,sha256
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-static
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-nls
--disable-largefile
