--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1
--enable-match-finders=hc4,bt2
--enable-checks=crc32
--enable-threads=no
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-unaligned-access
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
