--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3,bt2,bt3
--enable-threads=no
--enable-shared=no
--enable-sandbox=capsicum
--enable-dependency-tracking
--disable-lzmainfo
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
