--enable-encoders=lzma1,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc3
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-largefile
