--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1
--enable-match-finders=hc3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-symbol-versions
--enable-sandbox=no
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-silent-rules
--disable-nls
--disable-rpath
--disable-largefile
