--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,arm
--enable-match-finders=bt2,bt3
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-xzdec
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-nls
--disable-rpath
--disable-largefile
