--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-xzdec
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-nls
--disable-largefile
