--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-libtool-lock
--disable-rpath
