--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,lzma2
--enable-match-finders=bt2
--enable-checks=crc32
--enable-small
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-static
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-rpath
--disable-largefile
