--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,delta
--enable-match-finders=hc3
--enable-threads=posix
--enable-shared=no
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-fast-install=no
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
