--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,arm
--enable-match-finders=bt2,bt3,bt4
--enable-checks=crc32
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--disable-lzmadec
--disable-lzmainfo
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
