--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,bt2
--enable-checks=crc32
--enable-threads=yes
--enable-symbol-versions
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--disable-assembler
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
