--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=no
--enable-fast-install
--disable-assembler
--disable-xzdec
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-nls
