--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=no
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
