--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt2
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-static
--disable-xzdec
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-largefile
