--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3,bt4
--enable-checks=crc32,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-lzmainfo
--disable-scripts
--disable-nls
--disable-rpath
