--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-static
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-libtool-lock
--disable-nls
