--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc3,bt2,bt3
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-static
--enable-fast-install=no
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-rpath
