--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
