--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-assume-ram=128
--enable-symbol-versions
--enable-static
--disable-option-checking
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
