--enable-encoders=lzma1,arm
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4
--enable-checks=crc32
--enable-small
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-static
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-doc
--disable-dependency-tracking
