--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-unaligned-access
--enable-fast-install=no
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-rpath
--disable-largefile
