--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1
--enable-match-finders=bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-rpath
--disable-largefile
