--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt4
--enable-checks=crc32,sha256
--enable-shared=no
--enable-sandbox=auto
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-option-checking
--disable-assembler
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
--disable-largefile
