--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-lzmadec
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-largefile
