--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-fast-install
--enable-static
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-nls
