--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc3,bt2
--enable-checks=crc32
--enable-small
--enable-threads=yes
--enable-dependency-tracking
--enable-fast-install
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-doc
--disable-dependency-tracking
--disable-rpath
