--enable-encoders=lzma1,x86
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,bt2
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
