--enable-debug
--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,ia64
--enable-match-finders=bt2,bt3
--enable-checks=crc32,crc64
--enable-threads=no
--enable-shared=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--disable-option-checking
--disable-lzmadec
--disable-scripts
--disable-dependency-tracking
