--enable-encoders=lzma1,arm
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=auto
--enable-static
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
