--enable-encoders=lzma1
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-symbol-versions
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-largefile
