--enable-encoders=lzma1,delta
--enable-decoders=lzma1,x86
--enable-match-finders=hc3
--enable-checks=crc32
--enable-threads=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unaligned-access
--disable-lzmadec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
