--enable-encoders=lzma1,arm
--enable-decoders=lzma1,x86
--enable-match-finders=hc3
--enable-threads=posix
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-static
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
