--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-lzmadec
--disable-lzma-links
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-largefile
