--enable-debug
--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-fast-install
--enable-unsafe-type-punning
--disable-scripts
--disable-silent-rules
--disable-nls
--disable-largefile
