--enable-encoders=lzma1,arm
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-dependency-tracking
