--enable-encoders=lzma1,x86
--enable-decoders=lzma1,ia64
--enable-match-finders=hc3,bt3
--enable-checks=crc32,crc64
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-static
--enable-fast-install=no
--disable-dependency-tracking
--disable-nls
