--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=capsicum
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-dependency-tracking
--disable-largefile
