--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,x86
--enable-match-finders=hc3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-fast-install
--enable-static
--disable-option-checking
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-doc
