--enable-encoders=lzma1,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,bt4
--enable-checks=crc32
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
--disable-rpath
