--enable-encoders=lzma1,x86
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt2
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-fast-install
--enable-unsafe-type-punning
--disable-assembler
--disable-rpath
--disable-largefile
