--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,x86
--enable-match-finders=bt4
--enable-checks=crc32,sha256
--enable-symbol-versions
--enable-sandbox=no
--enable-unsafe-type-punning
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
