--enable-debug
--enable-encoders=lzma1,x86
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc3,hc4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-sandbox=auto
--enable-unaligned-access
--enable-static
--disable-assembler
--disable-xzdec
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
--disable-largefile
