--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1
--enable-match-finders=hc4,bt4
--enable-checks=crc32
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
