--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,ia64
--enable-match-finders=hc3,hc4
--enable-checks=crc32
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-dependency-tracking
--disable-nls
--disable-rpath
