--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,x86
--enable-match-finders=hc4
--enable-checks=crc32
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=auto
--enable-unaligned-access
--enable-static
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
