--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,sparc
--enable-match-finders=bt2,bt4
--enable-checks=crc32
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-scripts
--disable-dependency-tracking
--disable-rpath
--disable-largefile
