--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=auto
--enable-fast-install
--disable-lzma-links
--disable-doc
--disable-libtool-lock
--disable-largefile
