--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,sparc
--enable-match-finders=hc3,hc4
--enable-checks=crc32,crc64
--enable-small
--enable-symbol-versions
--enable-sandbox=no
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--disable-option-checking
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-largefile
