--enable-debug
--enable-encoders=lzma1,x86
--enable-match-finders=hc4,bt3
--enable-checks=crc32,sha256
--enable-small
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-static
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
