--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,lzma2
--enable-match-finders=bt2,bt4
--enable-checks=crc32
--enable-threads=posix
--enable-unaligned-access
--enable-fast-install=no
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
