--enable-encoders=lzma1
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt2
--enable-checks=crc32
--enable-symbol-versions
--enable-sandbox=auto
--enable-unaligned-access
--enable-static
--disable-option-checking
--disable-lzmadec
--disable-lzmainfo
--disable-libtool-lock
--disable-nls
--disable-largefile
