--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1
--enable-match-finders=hc3,bt3,bt4
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
--disable-largefile
