--disable-ansi-color
--disable-16-color
--disable-broken-st
--disable-bold-color
--disable-color-class
--disable-color-mode
--disable-highlighting
--disable-doublechars
--disable-boxchars
--enable-double-buffer
--with-freetype-config
--with-freetype-libs
--disable-i18n
--disable-input-method
--enable-logging
--enable-logfile-exec
--disable-maximize
--disable-pty-handshake
--disable-regex
--with-pcre2
--with-pcre
--disable-selection-ops
--disable-tcap-fkeys
--disable-tcap-query
--disable-vt52
--disable-wide-attrs
--enable-16bit-chars
--enable-mini-luit
--disable-luit
--enable-dabbrev
--disable-sixel-graphics
--disable-rectangles
