--disable-ansi-color
--disable-bold-color
--enable-double-buffer
--disable-freetype
--with-freetype-cflags
--enable-hp-fkeys
--disable-fifo-lines
--disable-i18n
--disable-initial-erase
--disable-input-method
--enable-load-vt-fonts
--enable-logging
--enable-logfile-exec
--disable-paste64
--disable-pty-handshake
--with-pcre
--disable-rightbar
--disable-samename
--disable-tcap-query
--disable-tek4014
--enable-toolbar
--disable-wide-attrs
--enable-16bit-chars
--enable-dec-locator
--enable-regis-graphics
--disable-sixel-graphics
--disable-print-graphics
