--disable-ansi-color
--disable-direct-color
--disable-88-color
--enable-broken-osc
--disable-c1-print
--disable-bold-color
--disable-doublechars
--enable-exec-xterm
--enable-double-buffer
--disable-freetype
--with-freetype-cflags
--enable-hp-fkeys
--enable-sco-fkeys
--disable-fifo-lines
--disable-input-method
--enable-load-vt-fonts
--enable-logging
--disable-num-lock
--with-pcre2
--disable-rightbar
--disable-session-mgt
--disable-tek4014
--disable-wide-chars
--enable-mini-luit
--disable-luit
--disable-screen-dumps
--disable-rectangles
