--disable-ansi-color
--disable-16-color
--disable-256-color
--disable-88-color
--disable-broken-st
--enable-builtin-xpms
--disable-c1-print
--disable-color-class
--disable-color-mode
--disable-highlighting
--disable-boxchars
--enable-double-buffer
--disable-freetype
--with-freetype-libs
--enable-sco-fkeys
--disable-sun-fkeys
--disable-fifo-lines
--enable-load-vt-fonts
--enable-logging
--enable-logfile-exec
--enable-readline-mouse
--with-pcre2
--disable-rightbar
--disable-selection-ops
--disable-tcap-fkeys
--enable-toolbar
--disable-vt52
--disable-wide-chars
--enable-mini-luit
--enable-regis-graphics
--disable-sixel-graphics
--disable-print-graphics
--disable-ziconbeep
