--disable-active-icon
--disable-16-color
--disable-direct-color
--disable-blink-cursor
--disable-bold-color
--disable-color-class
--disable-color-mode
--disable-boxchars
--enable-exec-xterm
--enable-double-buffer
--with-freetype-libs
--enable-sco-fkeys
--disable-input-method
--enable-logging
--disable-num-lock
--with-pcre2
--disable-selection-ops
--disable-session-mgt
--disable-tcap-query
--enable-toolbar
--disable-vt52
--disable-wide-chars
--enable-mini-luit
--disable-luit
--enable-dec-locator
--enable-regis-graphics
--disable-print-graphics
--disable-rectangles
--disable-ziconbeep
