--disable-ansi-color
--disable-direct-color
--disable-88-color
--enable-broken-osc
--disable-bold-color
--disable-color-class
--disable-color-mode
--disable-highlighting
--disable-doublechars
--disable-freetype
--with-freetype-config
--with-freetype-cflags
--with-freetype-libs
--disable-sun-fkeys
--disable-fifo-lines
--disable-input-method
--enable-load-vt-fonts
--enable-logging
--disable-num-lock
--disable-pty-handshake
--disable-regex
--disable-tcap-fkeys
--disable-tcap-query
--disable-tek4014
--disable-wide-attrs
--enable-16bit-chars
--enable-mini-luit
--disable-screen-dumps
--disable-rectangles
