--disable-active-icon
--disable-16-color
--disable-direct-color
--disable-88-color
--disable-blink-cursor
--enable-broken-osc
--disable-bold-color
--disable-color-class
--disable-color-mode
--disable-highlighting
--enable-exec-xterm
--with-freetype-config
--enable-hp-fkeys
--enable-sco-fkeys
--disable-i18n
--enable-load-vt-fonts
--disable-num-lock
--with-pcre
--disable-session-mgt
--disable-tcap-fkeys
--disable-tcap-query
--disable-tek4014
--disable-vt52
--disable-wide-chars
--enable-mini-luit
--disable-luit
--enable-dabbrev
--enable-regis-graphics
--disable-print-graphics
--disable-rectangles
