--disable-16-color
--disable-256-color
--disable-direct-color
--disable-blink-cursor
--disable-bold-color
--disable-color-mode
--disable-highlighting
--disable-doublechars
--disable-boxchars
--enable-exec-xterm
--with-freetype-config
--with-freetype-cflags
--enable-sco-fkeys
--disable-fifo-lines
--disable-i18n
--disable-initial-erase
--enable-load-vt-fonts
--enable-logfile-exec
--disable-maximize
--enable-readline-mouse
--disable-regex
--with-pcre
--disable-rightbar
--disable-session-mgt
--disable-tcap-fkeys
--disable-tcap-query
--disable-tek4014
--disable-wide-chars
--disable-luit
--enable-dec-locator
--disable-screen-dumps
--disable-sixel-graphics
--disable-rectangles
