--disable-active-icon
--disable-16-color
--disable-256-color
--disable-88-color
--disable-broken-st
--disable-c1-print
--disable-color-class
--disable-color-mode
--disable-doublechars
--enable-exec-xterm
--enable-double-buffer
--disable-freetype
--with-freetype-config
--with-freetype-cflags
--with-freetype-libs
--enable-sco-fkeys
--disable-fifo-lines
--disable-i18n
--disable-initial-erase
--disable-input-method
--enable-logging
--disable-maximize
--disable-num-lock
--disable-regex
--with-pcre2
--disable-rightbar
--disable-samename
--disable-selection-ops
--disable-tcap-fkeys
--disable-vt52
--disable-wide-chars
--enable-dabbrev
--enable-dec-locator
