--disable-ansi-color
--disable-256-color
--disable-88-color
--disable-blink-cursor
--disable-broken-st
--disable-color-class
--enable-exec-xterm
--enable-double-buffer
--with-freetype-config
--enable-sco-fkeys
--disable-sun-fkeys
--enable-load-vt-fonts
--disable-rightbar
--disable-selection-ops
--disable-session-mgt
--disable-tcap-fkeys
--disable-tcap-query
--disable-tek4014
--enable-toolbar
--disable-wide-chars
--disable-luit
--enable-dec-locator
--disable-screen-dumps
--enable-regis-graphics
--disable-sixel-graphics
--disable-rectangles
