--disable-active-icon
--disable-ansi-color
--disable-16-color
--disable-direct-color
--disable-88-color
--disable-blink-cursor
--enable-broken-osc
--enable-builtin-xpms
--disable-bold-color
--enable-double-buffer
--with-freetype-config
--with-freetype-libs
--disable-sun-fkeys
--disable-initial-erase
--disable-input-method
--enable-load-vt-fonts
--disable-num-lock
--disable-paste64
--disable-regex
--with-pcre2
--with-pcre
--disable-selection-ops
--disable-tcap-query
--enable-toolbar
--disable-vt52
--disable-wide-attrs
--disable-wide-chars
--enable-mini-luit
--disable-luit
--enable-dabbrev
--enable-dec-locator
--enable-regis-graphics
--disable-sixel-graphics
--disable-print-graphics
