--disable-shared
--disable-largefile
--disable-libtool-lock
--disable-silent-rules
--enable-debug
--disable-warnings
--disable-symbol-hiding
--enable-ares
--enable-file
--enable-ldap
--enable-proxy
--enable-dict
--disable-telnet
--disable-tftp
--disable-imap
--enable-smb
--disable-smtp
--enable-gopher
--enable-libcurl-option
--enable-ipv6
--enable-openssl-auto-load-config
--disable-versioned-symbols
--enable-pthreads
--enable-verbose
--enable-crypto-auth
--enable-ntlm-wb
--disable-tls-srp
--disable-cookies
--enable-socketpair
--disable-http-auth
--enable-doh
--disable-mime
--disable-dateparse
--enable-netrc
--enable-progress-meter
--disable-dnsshuffle
--enable-alt-svc
--enable-hsts
--enable-hidden-symbols
--enable-fast-install
--enable-libgcc
