--disable-shared
--disable-silent-rules
--disable-warnings
--enable-curldebug
--disable-ares
--disable-dependency-tracking
--enable-http
--enable-ldaps
--disable-dict
--disable-telnet
--enable-tftp
--enable-pop3
--enable-smb
--disable-smtp
--disable-mqtt
--enable-manual
--enable-ipv6
--enable-versioned-symbols
--disable-threaded-resolver
--enable-pthreads
--enable-verbose
--disable-sspi
--disable-crypto-auth
--disable-ntlm-wb
--enable-tls-srp
--disable-cookies
--disable-socketpair
--enable-http-auth
--enable-doh
--enable-mime
--disable-netrc
--disable-progress-meter
--disable-dnsshuffle
--disable-get-easy-options
--enable-alt-svc
--enable-hsts
--enable-hidden-symbols
--enable-code-coverage
--enable-fast-install
--enable-libgcc
