--disable-shared
--disable-largefile
--disable-libtool-lock
--disable-silent-rules
--disable-debug
--enable-warnings
--disable-curldebug
--disable-hidden-symbols
--enable-ares
--enable-http
--disable-ftp
--enable-rtsp
--enable-pop3
--disable-smb
--enable-smtp
--disable-mqtt
--disable-manual
--enable-libcurl-option
--enable-ipv6
--enable-openssl-auto-load-config
--disable-versioned-symbols
--disable-threaded-resolver
--disable-verbose
--disable-sspi
--disable-crypto-auth
--enable-ntlm-wb
--enable-tls-srp
--disable-unix-sockets
--enable-cookies
--enable-socketpair
--enable-http-auth
--enable-doh
--enable-dateparse
--disable-netrc
--enable-progress-meter
--disable-get-easy-options
--enable-alt-svc
--disable-hsts
--enable-hidden-symbols
--enable-libgcc
