--disable-shared
--disable-largefile
--disable-libtool-lock
--enable-silent-rules
--disable-optimize
--disable-symbol-hiding
--disable-hidden-symbols
--enable-ech
--disable-dependency-tracking
--enable-http
--disable-file
--enable-ldap
--enable-ldaps
--enable-rtsp
--enable-proxy
--enable-dict
--disable-telnet
--enable-tftp
--disable-pop3
--enable-smb
--enable-gopher
--disable-mqtt
--enable-manual
--disable-ipv6
--disable-threaded-resolver
--enable-pthreads
--disable-sspi
--enable-crypto-auth
--disable-ntlm-wb
--enable-unix-sockets
--enable-cookies
--enable-http-auth
--disable-doh
--enable-mime
--disable-dateparse
--disable-netrc
--enable-progress-meter
--enable-get-easy-options
--enable-alt-svc
--disable-hsts
--enable-hidden-symbols
--enable-code-coverage
--enable-fast-install
