--disable-active-icon
--disable-ansi-color
--disable-16-color
--disable-256-color
--disable-direct-color
--enable-broken-osc
--enable-builtin-xpms
--disable-c1-print
--with-freetype-config
--disable-sun-fkeys
--disable-initial-erase
--disable-input-method
--enable-logging
--enable-logfile-exec
--disable-maximize
--disable-num-lock
--disable-paste64
--disable-rightbar
--disable-samename
--disable-tcap-fkeys
--disable-tcap-query
--enable-toolbar
--disable-luit
--disable-screen-dumps
--disable-sixel-graphics
--disable-rectangles
--disable-ziconbeep
