--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-silent-rules
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-static
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-silent-rules