--disable-shared
--enable-silent-rules
--enable-debug
--disable-optimize
--disable-warnings
--disable-curldebug
--disable-symbol-hiding
--disable-hidden-symbols
--enable-ech
--enable-dependency-tracking
--disable-file
--disable-ldap
--enable-ldaps
--enable-proxy
--enable-dict
--disable-telnet
--enable-tftp
--enable-pop3
--disable-imap
--enable-smtp
--enable-gopher
--enable-manual
--enable-libcurl-option
--enable-ipv6
--enable-versioned-symbols
--disable-verbose
--enable-sspi
--disable-crypto-auth
--disable-ntlm-wb
--enable-tls-srp
--enable-unix-sockets
--disable-socketpair
--enable-http-auth
--enable-doh
--enable-mime
--disable-dateparse
--disable-progress-meter
--enable-get-easy-options
--enable-hidden-symbols
--enable-code-coverage
--enable-static
--enable-fast-install
