--disable-shared
--enable-silent-rules
--enable-warnings
--disable-curldebug
--enable-symbol-hiding
--enable-maintainer-mode
--disable-ares
--disable-dependency-tracking
--enable-http
--disable-ftp
--enable-file
--enable-ldap
--disable-ldaps
--disable-dict
--disable-tftp
--enable-pop3
--disable-imap
--disable-smb
--disable-smtp
--disable-mqtt
--enable-manual
--disable-libcurl-option
--disable-openssl-auto-load-config
--enable-versioned-symbols
--disable-threaded-resolver
--enable-pthreads
--disable-verbose
--disable-sspi
--disable-crypto-auth
--disable-ntlm-wb
--disable-tls-srp
--enable-unix-sockets
--enable-cookies
--disable-socketpair
--disable-http-auth
--enable-mime
--enable-dateparse
--enable-netrc
--disable-progress-meter
--enable-dnsshuffle
--disable-hsts
--enable-hidden-symbols
--enable-libgcc
