--disable-shared
--disable-rt
--disable-debug
--disable-optimize
--enable-warnings
--disable-curldebug
--disable-symbol-hiding
--enable-maintainer-mode
--disable-dependency-tracking
--enable-http
--enable-ftp
--disable-file
--enable-ldap
--disable-rtsp
--enable-proxy
--disable-dict
--disable-tftp
--enable-imap
--disable-smb
--enable-smtp
--disable-gopher
--disable-manual
--disable-libcurl-option
--disable-versioned-symbols
--disable-threaded-resolver
--disable-verbose
--disable-crypto-auth
--enable-ntlm-wb
--enable-cookies
--enable-socketpair
--disable-http-auth
--enable-doh
--disable-dateparse
--disable-netrc
--enable-progress-meter
--enable-get-easy-options
--enable-alt-svc
--enable-hsts
--enable-hidden-symbols
--enable-static
--enable-libgcc
