--disable-ansi-color
--disable-direct-color
--disable-blink-cursor
--enable-broken-osc
--disable-broken-st
--enable-builtin-xpms
--disable-c1-print
--disable-color-mode
--disable-freetype
--with-freetype-config
--with-freetype-cflags
--with-freetype-libs
--enable-hp-fkeys
--disable-sun-fkeys
--disable-initial-erase
--disable-input-method
--enable-load-vt-fonts
--disable-maximize
--disable-rightbar
--disable-selection-ops
--disable-tcap-query
--disable-vt52
--disable-wide-attrs
--disable-wide-chars
--enable-16bit-chars
--enable-mini-luit
--enable-regis-graphics
--disable-print-graphics
