--disable-shared
--disable-rt
--disable-largefile
--disable-libtool-lock
--enable-silent-rules
--enable-optimize
--enable-warnings
--disable-curldebug
--enable-symbol-hiding
--disable-hidden-symbols
--disable-dependency-tracking
--enable-http
--disable-file
--enable-ldap
--disable-ldaps
--disable-rtsp
--disable-proxy
--enable-dict
--enable-tftp
--disable-pop3
--disable-smb
--enable-gopher
--disable-mqtt
--enable-manual
--disable-libcurl-option
--disable-ipv6
--disable-openssl-auto-load-config
--enable-versioned-symbols
--disable-verbose
--enable-sspi
--enable-ntlm-wb
--enable-tls-srp
--enable-cookies
--enable-socketpair
--disable-http-auth
--disable-mime
--enable-get-easy-options
--enable-alt-svc
--enable-hsts
--enable-code-coverage
--enable-static
