--disable-shared
--disable-rt
--disable-silent-rules
--disable-debug
--disable-optimize
--disable-warnings
--disable-curldebug
--enable-maintainer-mode
--enable-dependency-tracking
--enable-file
--enable-ldap
--enable-ldaps
--disable-rtsp
--disable-proxy
--enable-telnet
--disable-pop3
--enable-imap
--enable-smb
--disable-smtp
--disable-gopher
--enable-mqtt
--disable-manual
--enable-ipv6
--enable-openssl-auto-load-config
--enable-versioned-symbols
--disable-verbose
--disable-sspi
--enable-crypto-auth
--disable-ntlm-wb
--disable-unix-sockets
--enable-cookies
--disable-socketpair
--enable-http-auth
--disable-mime
--enable-dateparse
--enable-netrc
--disable-dnsshuffle
--disable-alt-svc
--disable-hsts
--enable-code-coverage
