--disable-shared
--disable-largefile
--disable-silent-rules
--enable-debug
--enable-optimize
--enable-curldebug
--disable-hidden-symbols
--disable-ares
--enable-http
--enable-ftp
--disable-file
--enable-ldap
--disable-ldaps
--enable-telnet
--disable-tftp
--enable-smb
--enable-smtp
--enable-gopher
--enable-mqtt
--enable-libcurl-option
--enable-ipv6
--disable-openssl-auto-load-config
--enable-versioned-symbols
--disable-threaded-resolver
--enable-pthreads
--enable-verbose
--enable-sspi
--enable-crypto-auth
--enable-tls-srp
--enable-unix-sockets
--enable-socketpair
--disable-http-auth
--disable-doh
--disable-mime
--disable-dateparse
--disable-netrc
--disable-progress-meter
--disable-dnsshuffle
--disable-get-easy-options
--enable-alt-svc
