--disable-active-icon
--disable-16-color
--disable-256-color
--disable-88-color
--disable-broken-st
--enable-builtin-xpms
--disable-color-mode
--disable-highlighting
--disable-boxchars
--enable-exec-xterm
--enable-double-buffer
--disable-freetype
--with-freetype-cflags
--enable-hp-fkeys
--disable-initial-erase
--disable-input-method
--enable-logging
--disable-num-lock
--disable-paste64
--disable-regex
--with-pcre
--disable-rightbar
--disable-samename
--disable-selection-ops
--disable-session-mgt
--disable-tek4014
--enable-toolbar
--disable-wide-chars
--enable-16bit-chars
--enable-mini-luit
--enable-dabbrev
--disable-rectangles
--disable-ziconbeep
