--disable-shared
--disable-rt
--disable-largefile
--disable-libtool-lock
--disable-silent-rules
--disable-debug
--disable-warnings
--enable-curldebug
--disable-symbol-hiding
--enable-maintainer-mode
--enable-http
--disable-ftp
--enable-file
--enable-ldap
--enable-ldaps
--enable-rtsp
--disable-proxy
--disable-tftp
--disable-pop3
--enable-imap
--enable-smb
--disable-smtp
--enable-libcurl-option
--disable-ipv6
--disable-versioned-symbols
--disable-verbose
--enable-sspi
--enable-crypto-auth
--disable-ntlm-wb
--enable-tls-srp
--enable-unix-sockets
--enable-cookies
--disable-socketpair
--enable-http-auth
--enable-doh
--disable-mime
--disable-dateparse
--enable-netrc
--disable-progress-meter
--enable-dnsshuffle
--enable-get-easy-options
--enable-alt-svc
--disable-hsts
--enable-hidden-symbols
--enable-static
--enable-libgcc
