--disable-shared
--disable-largefile
--disable-libtool-lock
--enable-silent-rules
--enable-debug
--disable-optimize
--disable-warnings
--disable-curldebug
--enable-maintainer-mode
--enable-dependency-tracking
--disable-http
--disable-file
--disable-ldap
--enable-ldaps
--disable-rtsp
--disable-proxy
--disable-dict
--enable-telnet
--enable-tftp
--disable-imap
--enable-smb
--enable-smtp
--enable-gopher
--disable-mqtt
--disable-manual
--disable-libcurl-option
--disable-ipv6
--disable-versioned-symbols
--disable-threaded-resolver
--disable-verbose
--enable-sspi
--enable-crypto-auth
--enable-ntlm-wb
--disable-tls-srp
--disable-unix-sockets
--enable-cookies
--disable-socketpair
--enable-http-auth
--enable-doh
--disable-netrc
--enable-progress-meter
--disable-dnsshuffle
--disable-get-easy-options
--enable-alt-svc
--enable-hsts
--enable-fast-install
--enable-libgcc
