--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt3,bt4
--enable-checks=crc32
--enable-threads=no
--enable-assume-ram=128
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock