--disable-shared
--disable-rt
--disable-largefile
--enable-debug
--disable-optimize
--disable-warnings
--disable-curldebug
--enable-symbol-hiding
--enable-maintainer-mode
--disable-ares
--disable-ech
--enable-dependency-tracking
--enable-http
--enable-file
--enable-ldap
--disable-ldaps
--disable-rtsp
--enable-proxy
--enable-tftp
--disable-imap
--disable-smb
--enable-smtp
--enable-gopher
--enable-libcurl-option
--enable-openssl-auto-load-config
--disable-versioned-symbols
--disable-sspi
--enable-crypto-auth
--enable-ntlm-wb
--enable-tls-srp
--enable-unix-sockets
--disable-cookies
--disable-socketpair
--disable-http-auth
--disable-doh
--disable-mime
--enable-dateparse
--enable-netrc
--disable-progress-meter
--enable-dnsshuffle
--enable-get-easy-options
--disable-alt-svc
--enable-hsts
--enable-static
--enable-fast-install
--enable-libgcc
