--disable-shared
--disable-largefile
--disable-libtool-lock
--enable-silent-rules
--enable-debug
--disable-optimize
--disable-warnings
--enable-curldebug
--enable-symbol-hiding
--enable-maintainer-mode
--enable-ares
--enable-ech
--disable-dependency-tracking
--disable-http
--enable-ldap
--enable-ldaps
--disable-proxy
--enable-telnet
--enable-pop3
--enable-imap
--disable-smb
--enable-smtp
--disable-mqtt
--disable-manual
--disable-libcurl-option
--disable-ipv6
--disable-openssl-auto-load-config
--disable-versioned-symbols
--disable-threaded-resolver
--enable-verbose
--disable-sspi
--enable-crypto-auth
--enable-ntlm-wb
--disable-tls-srp
--disable-cookies
--disable-doh
--disable-mime
--enable-dateparse
--disable-netrc
--disable-progress-meter
--disable-dnsshuffle
--disable-get-easy-options
--disable-alt-svc
--enable-hsts
--enable-hidden-symbols
--enable-code-coverage
--enable-static
--enable-fast-install
