--disable-shared
--enable-silent-rules
--disable-debug
--disable-optimize
--disable-warnings
--disable-curldebug
--disable-hidden-symbols
--enable-ares
--enable-dependency-tracking
--enable-http
--enable-ldap
--disable-ldaps
--enable-rtsp
--disable-proxy
--enable-telnet
--disable-tftp
--disable-pop3
--disable-imap
--disable-smtp
--enable-gopher
--enable-mqtt
--enable-manual
--disable-libcurl-option
--disable-ipv6
--disable-openssl-auto-load-config
--enable-versioned-symbols
--enable-verbose
--enable-ntlm-wb
--disable-tls-srp
--enable-cookies
--disable-socketpair
--enable-http-auth
--disable-doh
--disable-mime
--disable-dateparse
--enable-netrc
--enable-progress-meter
--enable-get-easy-options
--disable-alt-svc
--enable-code-coverage
--enable-static
--enable-fast-install
--enable-libgcc
