--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,bt2
--enable-checks=crc32
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--disable-xzdec
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-rpath
