--disable-shared
--disable-largefile
--disable-debug
--enable-optimize
--disable-warnings
--disable-curldebug
--disable-symbol-hiding
--enable-ares
--disable-dependency-tracking
--disable-http
--disable-ldap
--disable-ldaps
--enable-proxy
--disable-dict
--disable-telnet
--disable-pop3
--disable-imap
--disable-smb
--disable-smtp
--enable-gopher
--enable-mqtt
--enable-manual
--disable-libcurl-option
--enable-ipv6
--enable-openssl-auto-load-config
--disable-versioned-symbols
--disable-threaded-resolver
--enable-pthreads
--disable-sspi
--enable-crypto-auth
--enable-ntlm-wb
--enable-unix-sockets
--disable-cookies
--enable-socketpair
--disable-http-auth
--enable-doh
--enable-mime
--disable-dateparse
--disable-netrc
--enable-progress-meter
--enable-dnsshuffle
--disable-get-easy-options
--enable-alt-svc
--disable-hsts
--enable-static
--enable-fast-install
