--disable-shared
--disable-silent-rules
--enable-debug
--enable-optimize
--disable-warnings
--disable-curldebug
--enable-symbol-hiding
--disable-hidden-symbols
--disable-ares
--enable-dependency-tracking
--enable-http
--enable-ftp
--enable-file
--disable-ldap
--disable-ldaps
--enable-proxy
--disable-dict
--disable-telnet
--enable-tftp
--enable-pop3
--disable-imap
--enable-smtp
--disable-mqtt
--enable-manual
--disable-libcurl-option
--enable-ipv6
--enable-openssl-auto-load-config
--disable-versioned-symbols
--enable-verbose
--disable-sspi
--enable-crypto-auth
--disable-ntlm-wb
--disable-tls-srp
--disable-unix-sockets
--disable-cookies
--disable-socketpair
--disable-doh
--disable-dateparse
--enable-netrc
--enable-dnsshuffle
--disable-get-easy-options
--disable-hsts
--enable-hidden-symbols
--enable-libgcc
