--disable-shared
--disable-largefile
--disable-libtool-lock
--enable-silent-rules
--disable-optimize
--enable-warnings
--enable-symbol-hiding
--enable-maintainer-mode
--enable-ares
--enable-http
--enable-ftp
--disable-file
--disable-ldap
--disable-ldaps
--disable-rtsp
--disable-dict
--enable-telnet
--enable-tftp
--enable-pop3
--disable-imap
--enable-smb
--disable-smtp
--enable-gopher
--disable-mqtt
--enable-manual
--disable-libcurl-option
--enable-openssl-auto-load-config
--disable-versioned-symbols
--disable-threaded-resolver
--enable-pthreads
--disable-sspi
--disable-tls-srp
--disable-unix-sockets
--enable-socketpair
--enable-http-auth
--disable-doh
--disable-mime
--enable-dateparse
--enable-progress-meter
--enable-dnsshuffle
--disable-get-easy-options
--disable-alt-svc
--enable-code-coverage
--enable-static
--enable-fast-install
--enable-libgcc
