--disable-ansi-color
--disable-16-color
--disable-direct-color
--disable-88-color
--disable-blink-cursor
--enable-broken-osc
--enable-builtin-xpms
--disable-bold-color
--disable-color-mode
--disable-boxchars
--disable-freetype
--with-freetype-config
--with-freetype-libs
--enable-hp-fkeys
--disable-i18n
--disable-input-method
--enable-load-vt-fonts
--disable-maximize
--disable-num-lock
--disable-paste64
--disable-pty-handshake
--with-pcre
--disable-samename
--disable-selection-ops
--disable-tcap-fkeys
--disable-tek4014
--disable-vt52
--disable-wide-attrs
--disable-wide-chars
--enable-16bit-chars
--enable-dec-locator
--disable-screen-dumps
--enable-regis-graphics
--disable-print-graphics
--disable-ziconbeep
