--disable-shared
--enable-silent-rules
--enable-debug
--disable-optimize
--enable-warnings
--enable-curldebug
--disable-symbol-hiding
--enable-ares
--enable-http
--enable-ftp
--enable-file
--disable-ldap
--disable-ldaps
--enable-rtsp
--disable-proxy
--disable-dict
--disable-telnet
--disable-tftp
--disable-pop3
--disable-imap
--disable-smtp
--enable-gopher
--disable-mqtt
--disable-manual
--disable-ipv6
--enable-openssl-auto-load-config
--enable-versioned-symbols
--disable-threaded-resolver
--enable-pthreads
--enable-crypto-auth
--disable-ntlm-wb
--enable-tls-srp
--enable-unix-sockets
--disable-cookies
--disable-socketpair
--enable-http-auth
--disable-mime
--enable-dateparse
--enable-progress-meter
--enable-dnsshuffle
--disable-get-easy-options
--enable-alt-svc
--enable-hsts
--enable-hidden-symbols
--enable-code-coverage
