--disable-shared
--disable-largefile
--enable-silent-rules
--enable-optimize
--enable-warnings
--disable-curldebug
--enable-symbol-hiding
--disable-ares
--enable-dependency-tracking
--enable-http
--enable-ftp
--enable-file
--enable-ldap
--disable-rtsp
--disable-proxy
--enable-dict
--enable-tftp
--enable-pop3
--disable-smtp
--disable-gopher
--disable-mqtt
--disable-manual
--enable-ipv6
--enable-openssl-auto-load-config
--disable-versioned-symbols
--enable-pthreads
--disable-verbose
--enable-crypto-auth
--disable-ntlm-wb
--disable-tls-srp
--enable-unix-sockets
--disable-socketpair
--disable-http-auth
--enable-doh
--enable-mime
--disable-dateparse
--enable-progress-meter
--enable-dnsshuffle
--enable-get-easy-options
--disable-alt-svc
--enable-code-coverage
--enable-fast-install
