--disable-shared
--disable-libtool-lock
--disable-optimize
--enable-warnings
--enable-maintainer-mode
--enable-ares
--enable-dependency-tracking
--enable-http
--enable-ftp
--disable-ldap
--enable-proxy
--enable-dict
--disable-pop3
--disable-smb
--disable-smtp
--enable-gopher
--enable-mqtt
--disable-manual
--enable-libcurl-option
--disable-openssl-auto-load-config
--disable-versioned-symbols
--enable-pthreads
--enable-crypto-auth
--enable-ntlm-wb
--enable-tls-srp
--enable-unix-sockets
--enable-cookies
--enable-socketpair
--enable-http-auth
--enable-doh
--enable-mime
--disable-dateparse
--disable-progress-meter
--enable-dnsshuffle
--enable-get-easy-options
--enable-alt-svc
--enable-code-coverage
--enable-static
--enable-fast-install
--enable-libgcc
