--enable-debug
--enable-encoders=lzma1,x86
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt2
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-scripts
--disable-libtool-lock
--disable-nls
--disable-largefile
