--disable-shared
--enable-debug
--enable-optimize
--enable-warnings
--disable-curldebug
--enable-http
--disable-ftp
--enable-ldap
--disable-ldaps
--disable-rtsp
--enable-proxy
--enable-dict
--disable-telnet
--disable-pop3
--enable-smb
--enable-smtp
--disable-mqtt
--enable-manual
--disable-libcurl-option
--disable-ipv6
--enable-versioned-symbols
--disable-threaded-resolver
--enable-verbose
--enable-sspi
--enable-crypto-auth
--disable-ntlm-wb
--enable-tls-srp
--enable-unix-sockets
--disable-cookies
--disable-http-auth
--enable-mime
--disable-dateparse
--disable-netrc
--disable-progress-meter
--enable-dnsshuffle
--enable-alt-svc
--enable-hsts
--enable-hidden-symbols
--enable-code-coverage
--enable-fast-install
