--disable-shared
--disable-silent-rules
--disable-debug
--enable-optimize
--disable-warnings
--enable-curldebug
--enable-ares
--disable-http
--disable-ftp
--enable-file
--enable-ldap
--enable-ldaps
--enable-proxy
--enable-dict
--enable-tftp
--disable-pop3
--enable-imap
--disable-smb
--disable-smtp
--disable-mqtt
--disable-manual
--enable-libcurl-option
--disable-ipv6
--enable-openssl-auto-load-config
--enable-versioned-symbols
--disable-threaded-resolver
--enable-verbose
--disable-crypto-auth
--disable-ntlm-wb
--enable-tls-srp
--enable-unix-sockets
--enable-cookies
--enable-socketpair
--disable-mime
--enable-netrc
--disable-progress-meter
--enable-dnsshuffle
--disable-get-easy-options
--disable-alt-svc
--enable-hsts
--enable-hidden-symbols
--enable-code-coverage
--enable-libgcc
