--disable-shared
--disable-largefile
--disable-libtool-lock
--enable-silent-rules
--disable-optimize
--enable-warnings
--enable-curldebug
--disable-symbol-hiding
--disable-hidden-symbols
--enable-ares
--enable-dependency-tracking
--enable-http
--enable-ftp
--enable-ldap
--enable-proxy
--disable-dict
--enable-telnet
--enable-smtp
--enable-gopher
--enable-mqtt
--enable-manual
--enable-libcurl-option
--disable-ipv6
--disable-versioned-symbols
--enable-verbose
--enable-sspi
--disable-crypto-auth
--disable-tls-srp
--disable-cookies
--disable-http-auth
--disable-doh
--disable-mime
--enable-dateparse
--disable-dnsshuffle
--enable-get-easy-options
--enable-alt-svc
--enable-hsts
--enable-code-coverage
--enable-static
--enable-fast-install
--enable-libgcc
