--disable-active-icon
--disable-direct-color
--disable-88-color
--disable-c1-print
--disable-color-class
--disable-highlighting
--disable-doublechars
--enable-exec-xterm
--enable-double-buffer
--with-freetype-config
--with-freetype-cflags
--with-freetype-libs
--enable-sco-fkeys
--disable-fifo-lines
--enable-load-vt-fonts
--enable-logfile-exec
--disable-paste64
--disable-regex
--with-pcre2
--disable-samename
--disable-selection-ops
--disable-session-mgt
--disable-tcap-fkeys
--disable-tek4014
--enable-toolbar
--disable-wide-chars
--enable-16bit-chars
--enable-mini-luit
--disable-luit
--enable-dabbrev
--disable-screen-dumps
