--disable-option-checking
--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-amalgamation
--disable-math
--enable-fast-install
--enable-releasemode
--enable-editline
--enable-memsys5
--enable-fts3
--enable-fts5
--enable-json1
--enable-rtree
--enable-session
