--disable-16-color
--disable-256-color
--disable-direct-color
--disable-88-color
--disable-blink-cursor
--enable-builtin-xpms
--disable-color-class
--disable-color-mode
--disable-doublechars
--disable-boxchars
--enable-double-buffer
--with-freetype-config
--with-freetype-cflags
--enable-sco-fkeys
--disable-fifo-lines
--disable-i18n
--disable-input-method
--enable-logfile-exec
--disable-maximize
--disable-num-lock
--disable-pty-handshake
--enable-readline-mouse
--with-pcre
--disable-vt52
--disable-wide-chars
--disable-screen-dumps
--disable-print-graphics
--disable-rectangles
