--disable-active-icon
--disable-256-color
--disable-direct-color
--enable-broken-osc
--disable-broken-st
--disable-highlighting
--enable-double-buffer
--disable-freetype
--with-freetype-cflags
--enable-sco-fkeys
--enable-load-vt-fonts
--enable-logging
--enable-logfile-exec
--disable-maximize
--disable-paste64
--enable-readline-mouse
--with-pcre
--disable-session-mgt
--enable-toolbar
--disable-wide-attrs
--disable-wide-chars
--enable-16bit-chars
--disable-luit
--enable-dec-locator
--disable-screen-dumps
--enable-regis-graphics
--disable-ziconbeep
