--disable-shared
--enable-silent-rules
--disable-optimize
--enable-warnings
--disable-curldebug
--disable-symbol-hiding
--enable-maintainer-mode
--disable-ares
--enable-dependency-tracking
--enable-http
--enable-ftp
--enable-file
--enable-ldap
--enable-ldaps
--enable-telnet
--enable-tftp
--enable-pop3
--disable-imap
--enable-smb
--disable-smtp
--enable-gopher
--enable-manual
--enable-libcurl-option
--enable-ipv6
--enable-openssl-auto-load-config
--enable-versioned-symbols
--disable-verbose
--disable-sspi
--disable-ntlm-wb
--enable-tls-srp
--enable-cookies
--enable-socketpair
--disable-http-auth
--disable-doh
--disable-dateparse
--disable-netrc
--enable-progress-meter
--disable-dnsshuffle
--enable-alt-svc
--enable-hidden-symbols
