--disable-active-icon
--disable-16-color
--disable-88-color
--disable-blink-cursor
--enable-broken-osc
--disable-broken-st
--disable-color-mode
--disable-highlighting
--disable-doublechars
--enable-exec-xterm
--with-freetype-config
--with-freetype-cflags
--with-freetype-libs
--enable-hp-fkeys
--disable-initial-erase
--enable-load-vt-fonts
--enable-logging
--disable-num-lock
--disable-pty-handshake
--disable-regex
--with-pcre
--disable-rightbar
--disable-selection-ops
--disable-session-mgt
--disable-tek4014
--enable-toolbar
--disable-vt52
--disable-wide-chars
--enable-16bit-chars
--enable-dec-locator
--disable-screen-dumps
--disable-print-graphics
--disable-rectangles
