--disable-ansi-color
--disable-16-color
--enable-broken-osc
--disable-broken-st
--disable-c1-print
--disable-bold-color
--disable-color-class
--disable-highlighting
--disable-freetype
--with-freetype-cflags
--enable-sco-fkeys
--disable-sun-fkeys
--disable-fifo-lines
--disable-i18n
--disable-initial-erase
--disable-input-method
--enable-load-vt-fonts
--disable-num-lock
--disable-pty-handshake
--disable-regex
--with-pcre
--disable-selection-ops
--disable-tcap-fkeys
--disable-tcap-query
--disable-tek4014
--enable-toolbar
--disable-wide-attrs
--enable-16bit-chars
--enable-dec-locator
--disable-print-graphics
