--disable-shared
--disable-largefile
--disable-libtool-lock
--disable-silent-rules
--enable-debug
--enable-optimize
--enable-curldebug
--disable-symbol-hiding
--enable-maintainer-mode
--disable-ares
--enable-http
--enable-ftp
--disable-file
--enable-ldap
--disable-rtsp
--enable-proxy
--enable-telnet
--disable-tftp
--disable-imap
--disable-smb
--enable-smtp
--disable-gopher
--enable-mqtt
--disable-manual
--enable-openssl-auto-load-config
--disable-versioned-symbols
--enable-verbose
--enable-crypto-auth
--disable-ntlm-wb
--enable-tls-srp
--disable-http-auth
--enable-doh
--enable-mime
--enable-netrc
--enable-progress-meter
--disable-dnsshuffle
--enable-hsts
--enable-hidden-symbols
--enable-static
--enable-fast-install
