--disable-shared
--disable-largefile
--disable-libtool-lock
--disable-silent-rules
--enable-debug
--disable-warnings
--disable-symbol-hiding
--disable-hidden-symbols
--disable-ares
--enable-dependency-tracking
--disable-http
--disable-file
--enable-ldap
--disable-ldaps
--enable-proxy
--enable-telnet
--disable-pop3
--enable-imap
--enable-smb
--enable-smtp
--disable-gopher
--disable-mqtt
--enable-manual
--enable-libcurl-option
--enable-ipv6
--disable-versioned-symbols
--disable-threaded-resolver
--enable-pthreads
--disable-verbose
--enable-sspi
--disable-crypto-auth
--disable-unix-sockets
--enable-cookies
--disable-http-auth
--enable-mime
--disable-dateparse
--disable-netrc
--disable-progress-meter
--enable-dnsshuffle
--disable-get-easy-options
--disable-hsts
--enable-static
--enable-fast-install
