--disable-ansi-color
--disable-16-color
--disable-blink-cursor
--disable-bold-color
--disable-color-mode
--disable-highlighting
--disable-boxchars
--enable-double-buffer
--with-freetype-config
--with-freetype-cflags
--enable-hp-fkeys
--enable-sco-fkeys
--disable-fifo-lines
--disable-i18n
--disable-initial-erase
--enable-logging
--disable-maximize
--disable-regex
--with-pcre
--disable-samename
--disable-wide-attrs
--disable-wide-chars
--enable-16bit-chars
--enable-mini-luit
--disable-luit
--disable-screen-dumps
--enable-regis-graphics
