--disable-shared
--disable-largefile
--disable-silent-rules
--disable-debug
--enable-optimize
--disable-warnings
--disable-symbol-hiding
--enable-maintainer-mode
--enable-ares
--disable-http
--disable-ldap
--disable-proxy
--disable-dict
--disable-telnet
--enable-tftp
--disable-imap
--disable-smtp
--enable-gopher
--enable-mqtt
--disable-manual
--disable-ipv6
--enable-openssl-auto-load-config
--disable-versioned-symbols
--enable-verbose
--disable-sspi
--enable-crypto-auth
--disable-ntlm-wb
--disable-tls-srp
--enable-cookies
--enable-socketpair
--disable-http-auth
--enable-doh
--disable-mime
--enable-dateparse
--enable-netrc
--disable-progress-meter
--enable-dnsshuffle
--enable-get-easy-options
--disable-alt-svc
--enable-hsts
--enable-code-coverage
--enable-static
