--disable-ansi-color
--disable-88-color
--disable-broken-st
--enable-builtin-xpms
--disable-bold-color
--disable-highlighting
--disable-boxchars
--with-freetype-cflags
--enable-sco-fkeys
--disable-initial-erase
--disable-input-method
--enable-load-vt-fonts
--enable-logging
--disable-maximize
--disable-paste64
--enable-readline-mouse
--disable-regex
--with-pcre2
--with-pcre
--disable-samename
--disable-tcap-fkeys
--disable-tek4014
--enable-toolbar
--disable-vt52
--disable-wide-attrs
--enable-mini-luit
--enable-regis-graphics
--disable-rectangles
--disable-ziconbeep
