--disable-ansi-color
--disable-256-color
--disable-88-color
--disable-blink-cursor
--enable-broken-osc
--disable-broken-st
--enable-builtin-xpms
--disable-c1-print
--disable-bold-color
--disable-color-class
--disable-color-mode
--disable-boxchars
--enable-exec-xterm
--disable-freetype
--with-freetype-libs
--disable-i18n
--disable-input-method
--disable-maximize
--disable-num-lock
--enable-readline-mouse
--disable-samename
--disable-tcap-query
--disable-vt52
--disable-wide-chars
--enable-mini-luit
--enable-dec-locator
--disable-screen-dumps
--disable-ziconbeep
