--disable-shared
--disable-largefile
--disable-libtool-lock
--enable-silent-rules
--enable-debug
--disable-warnings
--enable-curldebug
--enable-symbol-hiding
--disable-ares
--disable-file
--disable-ldap
--disable-ldaps
--disable-rtsp
--disable-dict
--enable-telnet
--enable-tftp
--enable-pop3
--disable-imap
--enable-smb
--enable-smtp
--disable-gopher
--disable-mqtt
--disable-manual
--disable-versioned-symbols
--disable-threaded-resolver
--enable-pthreads
--disable-verbose
--disable-sspi
--disable-crypto-auth
--disable-ntlm-wb
--enable-unix-sockets
--enable-cookies
--enable-socketpair
--enable-http-auth
--disable-doh
--enable-mime
--disable-dnsshuffle
--disable-get-easy-options
--disable-alt-svc
--enable-hsts
--enable-hidden-symbols
--enable-code-coverage
--enable-static
--enable-fast-install
--enable-libgcc
