--disable-shared
--disable-libtool-lock
--disable-silent-rules
--disable-debug
--enable-optimize
--disable-symbol-hiding
--enable-ares
--disable-dependency-tracking
--enable-http
--enable-ftp
--disable-file
--disable-ldap
--enable-ldaps
--disable-rtsp
--disable-proxy
--enable-dict
--disable-telnet
--disable-tftp
--enable-imap
--enable-smb
--disable-smtp
--disable-gopher
--disable-mqtt
--disable-manual
--enable-libcurl-option
--disable-ipv6
--enable-versioned-symbols
--disable-threaded-resolver
--enable-verbose
--enable-sspi
--disable-crypto-auth
--disable-tls-srp
--enable-unix-sockets
--enable-cookies
--enable-socketpair
--disable-http-auth
--enable-doh
--disable-mime
--disable-dateparse
--disable-netrc
--disable-dnsshuffle
--enable-get-easy-options
--enable-alt-svc
--enable-hidden-symbols
--enable-static
--enable-fast-install
--enable-libgcc
