--disable-shared
--disable-largefile
--disable-warnings
--disable-curldebug
--disable-symbol-hiding
--disable-hidden-symbols
--disable-ares
--enable-dependency-tracking
--disable-http
--disable-file
--disable-ldap
--disable-proxy
--disable-dict
--disable-telnet
--enable-tftp
--enable-pop3
--disable-imap
--enable-smb
--disable-smtp
--disable-gopher
--disable-mqtt
--enable-libcurl-option
--enable-ipv6
--enable-openssl-auto-load-config
--enable-versioned-symbols
--enable-pthreads
--disable-verbose
--enable-sspi
--enable-crypto-auth
--disable-tls-srp
--disable-unix-sockets
--enable-cookies
--disable-socketpair
--disable-http-auth
--disable-doh
--disable-dateparse
--enable-netrc
--disable-progress-meter
--disable-dnsshuffle
--enable-get-easy-options
--disable-alt-svc
--enable-hidden-symbols
--enable-static
--enable-libgcc
