--disable-shared
--disable-libtool-lock
--enable-silent-rules
--enable-debug
--disable-optimize
--enable-warnings
--disable-curldebug
--enable-maintainer-mode
--enable-ares
--enable-http
--disable-ftp
--disable-file
--disable-ldap
--enable-rtsp
--disable-proxy
--enable-dict
--enable-pop3
--disable-imap
--enable-smb
--disable-smtp
--disable-gopher
--enable-manual
--disable-libcurl-option
--enable-ipv6
--enable-openssl-auto-load-config
--enable-versioned-symbols
--disable-threaded-resolver
--enable-pthreads
--disable-verbose
--disable-sspi
--disable-crypto-auth
--enable-ntlm-wb
--enable-unix-sockets
--enable-cookies
--disable-socketpair
--disable-http-auth
--enable-doh
--enable-mime
--enable-netrc
--enable-progress-meter
--disable-get-easy-options
--disable-alt-svc
--enable-libgcc
