--disable-shared
--disable-largefile
--disable-silent-rules
--disable-warnings
--enable-curldebug
--enable-maintainer-mode
--enable-ares
--disable-dependency-tracking
--disable-http
--enable-ldap
--disable-dict
--enable-telnet
--disable-tftp
--disable-pop3
--disable-imap
--disable-smb
--disable-smtp
--disable-gopher
--disable-manual
--enable-libcurl-option
--enable-ipv6
--enable-openssl-auto-load-config
--enable-versioned-symbols
--disable-sspi
--disable-crypto-auth
--enable-ntlm-wb
--disable-unix-sockets
--disable-cookies
--enable-socketpair
--disable-http-auth
--disable-doh
--enable-mime
--enable-netrc
--enable-progress-meter
--enable-dnsshuffle
--enable-get-easy-options
--enable-alt-svc
--disable-hsts
--enable-hidden-symbols
--enable-static
--enable-libgcc
