--disable-shared
--disable-largefile
--disable-libtool-lock
--disable-curldebug
--disable-ares
--enable-dependency-tracking
--disable-http
--disable-ftp
--enable-file
--enable-ldap
--enable-ldaps
--disable-rtsp
--enable-proxy
--enable-dict
--enable-tftp
--enable-imap
--enable-smb
--disable-mqtt
--disable-manual
--disable-libcurl-option
--disable-ipv6
--enable-openssl-auto-load-config
--disable-versioned-symbols
--disable-verbose
--disable-sspi
--enable-crypto-auth
--disable-ntlm-wb
--enable-tls-srp
--disable-unix-sockets
--enable-cookies
--enable-http-auth
--enable-doh
--disable-mime
--enable-dateparse
--disable-netrc
--enable-progress-meter
--enable-hsts
--enable-code-coverage
--enable-static
--enable-libgcc
