--disable-direct-color
--disable-blink-cursor
--disable-bold-color
--enable-double-buffer
--disable-freetype
--disable-fifo-lines
--disable-i18n
--disable-initial-erase
--disable-input-method
--enable-logging
--enable-logfile-exec
--disable-paste64
--enable-readline-mouse
--disable-regex
--disable-samename
--disable-session-mgt
--disable-tek4014
--disable-wide-attrs
--enable-16bit-chars
--enable-mini-luit
--disable-luit
--enable-dec-locator
--enable-regis-graphics
--disable-print-graphics
--disable-rectangles
--disable-ziconbeep
