--disable-shared
--disable-largefile
--disable-silent-rules
--enable-debug
--disable-warnings
--enable-curldebug
--enable-symbol-hiding
--disable-hidden-symbols
--enable-ares
--enable-file
--enable-ldaps
--disable-proxy
--enable-dict
--enable-telnet
--disable-tftp
--disable-pop3
--enable-imap
--enable-smb
--disable-smtp
--enable-gopher
--disable-manual
--disable-libcurl-option
--disable-ipv6
--enable-versioned-symbols
--enable-pthreads
--enable-verbose
--enable-sspi
--disable-crypto-auth
--disable-ntlm-wb
--disable-tls-srp
--disable-unix-sockets
--enable-socketpair
--enable-http-auth
--disable-doh
--disable-mime
--enable-dateparse
--disable-progress-meter
--disable-dnsshuffle
--disable-alt-svc
--enable-hsts
--enable-hidden-symbols
--enable-code-coverage
--enable-fast-install
--enable-libgcc
