--disable-active-icon
--disable-ansi-color
--disable-16-color
--disable-direct-color
--enable-broken-osc
--disable-c1-print
--disable-bold-color
--disable-highlighting
--enable-exec-xterm
--disable-freetype
--with-freetype-config
--with-freetype-cflags
--with-freetype-libs
--enable-sco-fkeys
--disable-sun-fkeys
--disable-initial-erase
--enable-logging
--enable-logfile-exec
--disable-num-lock
--enable-readline-mouse
--with-pcre2
--disable-samename
--disable-session-mgt
--disable-vt52
--disable-wide-chars
--enable-16bit-chars
--disable-screen-dumps
--disable-sixel-graphics
--disable-print-graphics
--disable-rectangles
