--disable-active-icon
--disable-ansi-color
--disable-16-color
--disable-broken-st
--disable-c1-print
--disable-color-class
--disable-doublechars
--disable-boxchars
--with-freetype-config
--with-freetype-cflags
--enable-sco-fkeys
--disable-fifo-lines
--disable-i18n
--enable-logging
--disable-num-lock
--disable-paste64
--disable-pty-handshake
--with-pcre
--disable-rightbar
--disable-samename
--disable-selection-ops
--disable-session-mgt
--enable-toolbar
--disable-vt52
--disable-wide-attrs
--disable-wide-chars
--enable-mini-luit
--disable-luit
--enable-dabbrev
--disable-print-graphics
--disable-ziconbeep
