--disable-shared
--disable-largefile
--enable-debug
--disable-optimize
--disable-warnings
--enable-curldebug
--enable-symbol-hiding
--disable-hidden-symbols
--enable-ares
--enable-http
--enable-ftp
--disable-file
--enable-rtsp
--enable-proxy
--disable-telnet
--enable-tftp
--enable-imap
--enable-smb
--disable-gopher
--enable-mqtt
--enable-manual
--enable-libcurl-option
--enable-ipv6
--disable-openssl-auto-load-config
--enable-versioned-symbols
--disable-threaded-resolver
--disable-verbose
--disable-sspi
--disable-crypto-auth
--enable-ntlm-wb
--disable-unix-sockets
--disable-cookies
--disable-socketpair
--disable-doh
--disable-mime
--disable-dateparse
--disable-progress-meter
--enable-dnsshuffle
--disable-get-easy-options
--enable-hsts
--enable-fast-install
--enable-libgcc
