--disable-shared
--disable-largefile
--enable-silent-rules
--disable-debug
--enable-optimize
--disable-warnings
--disable-curldebug
--disable-hidden-symbols
--enable-ares
--enable-dependency-tracking
--enable-http
--enable-ftp
--enable-file
--enable-ldap
--disable-ldaps
--enable-proxy
--enable-dict
--disable-telnet
--enable-tftp
--disable-pop3
--disable-smb
--enable-smtp
--enable-gopher
--enable-mqtt
--disable-libcurl-option
--disable-ipv6
--disable-openssl-auto-load-config
--disable-versioned-symbols
--enable-pthreads
--enable-verbose
--enable-sspi
--disable-crypto-auth
--disable-ntlm-wb
--disable-tls-srp
--enable-cookies
--enable-http-auth
--disable-doh
--disable-mime
--enable-netrc
--disable-progress-meter
--enable-get-easy-options
--disable-alt-svc
--enable-hsts
--enable-hidden-symbols
--enable-fast-install
