--disable-ansi-color
--disable-88-color
--disable-blink-cursor
--enable-broken-osc
--enable-builtin-xpms
--disable-c1-print
--disable-color-class
--disable-color-mode
--disable-doublechars
--enable-exec-xterm
--with-freetype-config
--with-freetype-libs
--enable-hp-fkeys
--enable-sco-fkeys
--disable-sun-fkeys
--disable-fifo-lines
--disable-initial-erase
--disable-input-method
--disable-maximize
--disable-num-lock
--enable-readline-mouse
--disable-regex
--disable-rightbar
--disable-tcap-query
--disable-vt52
--disable-wide-attrs
--enable-16bit-chars
--enable-mini-luit
--disable-luit
--enable-dec-locator
--disable-screen-dumps
--enable-regis-graphics
--disable-print-graphics
--disable-rectangles
