--disable-ansi-color
--disable-88-color
--enable-builtin-xpms
--disable-color-class
--disable-color-mode
--disable-highlighting
--disable-doublechars
--disable-freetype
--with-freetype-cflags
--enable-hp-fkeys
--disable-fifo-lines
--disable-i18n
--enable-logfile-exec
--disable-maximize
--disable-num-lock
--disable-paste64
--disable-pty-handshake
--with-pcre
--disable-samename
--disable-selection-ops
--disable-session-mgt
--disable-tek4014
--disable-wide-attrs
--enable-16bit-chars
--disable-luit
--enable-dabbrev
--enable-dec-locator
--disable-sixel-graphics
--disable-rectangles
