--disable-16-color
--disable-direct-color
--disable-88-color
--disable-blink-cursor
--disable-broken-st
--enable-builtin-xpms
--disable-bold-color
--disable-highlighting
--disable-doublechars
--disable-boxchars
--enable-double-buffer
--with-freetype-config
--enable-sco-fkeys
--disable-fifo-lines
--disable-input-method
--enable-logging
--enable-logfile-exec
--disable-maximize
--disable-pty-handshake
--enable-readline-mouse
--disable-rightbar
--disable-samename
--disable-tcap-query
--enable-toolbar
--disable-vt52
--disable-wide-attrs
--enable-mini-luit
--disable-luit
--enable-dec-locator
--disable-screen-dumps
--enable-regis-graphics
--disable-sixel-graphics
--disable-print-graphics
--disable-rectangles
