--disable-shared
--disable-largefile
--disable-libtool-lock
--disable-silent-rules
--disable-optimize
--enable-warnings
--enable-curldebug
--enable-symbol-hiding
--disable-ares
--enable-dependency-tracking
--enable-http
--enable-ldap
--enable-ldaps
--enable-rtsp
--enable-proxy
--enable-dict
--enable-telnet
--disable-tftp
--disable-pop3
--disable-imap
--disable-smb
--disable-smtp
--enable-mqtt
--enable-libcurl-option
--enable-ipv6
--disable-versioned-symbols
--disable-sspi
--disable-crypto-auth
--disable-tls-srp
--disable-unix-sockets
--disable-cookies
--disable-doh
--enable-mime
--disable-netrc
--enable-progress-meter
--disable-alt-svc
--enable-hidden-symbols
--enable-code-coverage
--enable-fast-install
--enable-libgcc
