--disable-ansi-color
--disable-16-color
--disable-256-color
--disable-direct-color
--enable-broken-osc
--enable-builtin-xpms
--disable-bold-color
--disable-doublechars
--enable-exec-xterm
--enable-double-buffer
--with-freetype-config
--with-freetype-cflags
--with-freetype-libs
--disable-sun-fkeys
--disable-fifo-lines
--disable-initial-erase
--disable-input-method
--disable-num-lock
--disable-paste64
--disable-pty-handshake
--disable-regex
--with-pcre2
--with-pcre
--disable-samename
--disable-session-mgt
--disable-tek4014
--disable-vt52
--disable-wide-attrs
--disable-wide-chars
--enable-mini-luit
--enable-dabbrev
--disable-screen-dumps
--enable-regis-graphics
--disable-sixel-graphics
--disable-ziconbeep
